.dashboard_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sort_by {
	color: var(--dark);
	display: flex;
	align-items: center;
	padding: 0 5px;
}

.sort_by_select {
	outline: none;
	width: 100px;
}

.sort_option:hover {
	color: var(--light);
	background: var(--dark);
}

.edit_container {
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	padding: 100px 0;
	overflow: scroll;
}

.event_list_container {
	width: 100%;
}

.event_list_head {
	display: grid;
	grid-template-columns: 70px auto 200px;
	margin-top: 15px;
}

.column {
	text-align: left;
	border-bottom: 2px var(--light) solid;
	font-weight: bold;
	color: var(--light);
	padding: 10px;
	background: var(--dark);
	margin: 1px;
}

.event {
	display: grid;
	grid-template-columns: 70px auto 200px;
}

.event {
	background: #f4fffd;
}

.event:hover {
	background: #dcfcf6;
}

.cell {
	padding: 10px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	display: flex;
	align-items: center;
}

.event_link {
	white-space: nowrap;
	width: 100px;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	font-weight: bold;
}

.event_link:hover {
	text-decoration: underline;
}

.stats_btn {
	padding: 5px;
	cursor: pointer;
	margin: 0 2px;
	border-radius: 2px;
	border: var(--dark) 0.5px solid;
	display: flex;
	align-items: center;
}

.action_icon {
	margin-right: 5px;
}

.stats_btn:hover {
	color: var(--light);
	background: var(--dark);
}

/* Stats card */
.stats_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	overflow: scroll;
	align-items: center;
	justify-content: center;
	height: 100%;
	z-index: 30;
	background: rgba(0, 0, 0, 0.5);
}

.stats_card {
	background: white;
	width: 90%;
	border-radius: 10px;
	display: grid;
	grid-template-rows: 50px auto 50px;
	padding: 10px;
	height: 90%;
}

.stats_header,
.stats_footer {
	display: flex;
	align-items: center;
}

.stats_card_title {
	width: 50vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.stats_header {
	border-bottom: 2px solid grey;
	justify-content: space-between;
}

.stats_body {
	padding: 10px 0;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.barchart_container,
.linechart_container {
	width: 90%;
	height: 90%;
}

.hide_chart {
	display: none !important;
}

.sort_option {
	color: black;
}

.stats_footer {
	border-top: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stats_footer_btn {
	margin: 0 5px;
	padding: 10px;
	background: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 5px;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.stats_footer_btn:hover {
	background: white;
	color: var(--primary);
}

.page_list {
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	list-style: none;
	flex-wrap: wrap;
	display: flex;
}

.page_btn {
	width: 30px;
	height: 30px;
	color: white;
	font-weight: bold;
	background: var(--primary);
	border-radius: 2px;
	border: var(--primary) solid 1px;
	cursor: pointer;
	margin: 2px;
}

.page_btn:hover {
	background: white;
	color: var(--primary);
}
