.edit_container {
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	padding: 100px 0;
	overflow: scroll;
}

.divider {
	margin: 5px 0 10px 0;
}

.event_thumb_div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.event_thumb_img {
	max-width: 100%;
	margin-bottom: 10px;
}

.date {
	color: var(--dark);
}

.event_desc {
	margin: 10px 0;
}

.register_btn {
	display: block;
	background: white;
	cursor: pointer;
	padding: 10px;
	width: fit-content;
	font-size: 14px;
	border-radius: 5px;
	letter-spacing: 1px;
	font-weight: bolder;
	border: var(--dark) 1px solid;
}

.register_btn:hover {
	background: var(--dark);
	color: white;
}
