.events_list {
	margin-top: 10px;
}

.view_link {
	display: block;
	padding: 5px;
	border: 1px solid var(--dark);
	background: var(--dark);
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
}

.event {
	margin: 5px 0;
	border: 1px solid black;
	border-radius: 5px;
	align-items: center;
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

.event_details {
	align-items: center;
}

span {
	font-size: 14px;
	color: grey;
}

.event_title {
	display: inline-block;
	font-weight: bold;
}
